/* GLOBAL STYLES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --soft-violet : hsl(273, 75%, 66%);
    --soft-blue:  hsl(240, 73%, 65%);
}

h1 {
    text-align: center;
}

/* FAQ STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,var(--soft-blue), var(--soft-violet));
    background-repeat: no-repeat;
    background-position: center;
    background-position: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: space-between;
    border-radius: 2rem;
    position: relative;
    margin:2rem 0rem;
}

/* desktop image styles */
.image-container {
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex:1 1 20rem;
    position: relative;
    overflow: hidden;
}

.woman-online-desktop {
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: relative;
    left:-100px;
    margin: 3rem;
}

.box {
    position: absolute;
    left: -5%;
    bottom: 20%;
    z-index:3;
    width: 10%;
    height: auto;
}


.woman-online-mobile {
    display: none;
}

/* text styles */
.text-container {
    flex: 1 1 20rem;
    padding: 2rem 2rem 2rem 0rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* border: 1px solid red; */
}

.text-container h1 {
    text-align: left;
    margin: 1rem 0;
    font-size:2rem;
}

.faq-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.faq {
    flex:1;
}

.faq-answer {
    padding-bottom:1rem;
    display: none;
}
p {
    font-size: 1.3rem;
}

/* mobile styles */
@media only screen and (max-width: 375px) {
    body {
        height: 100vh;
    }
    main {
        width: 90%;
        display: block;
        height: 90vh;
    }
    .image-container {
        overflow: visible;
        background-image: url("images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .woman-online-desktop {
        display: none;
    }

    .woman-online-mobile {
        display: block;
        border:1px solid red;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box {
        display: none;
    }
    .text-container {
       
        padding:1rem;
        border:1px solid green;
    }
    .text-container h1 {
    text-align: center;
    }
}