/* GLOBAL STYLES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --soft-violet : hsl(273, 75%, 66%);
    --soft-blue:  hsl(240, 73%, 65%);
}

h1 {
    text-align: center;
}

/* FAQ STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,var(--soft-blue), var(--soft-violet));
    background-repeat: no-repeat;
    background-position: center;
    background-position: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 2rem;
    position: relative;
    margin:2rem 0rem;
    background-color:white ;
}

/* desktop image styles */
.image-container {
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex:1 1 20rem;
    position: relative;
    overflow: hidden;
    /* background-color: white; */
}

.woman-online-desktop {
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: relative;
    left:-100px;
    margin: 3rem;
}

.box {
    position: absolute;
    left: -5%;
    bottom: 20%;
    z-index:3;
    width: 10%;
    height: auto;
}


.woman-online-mobile {
    display: none;
}
.mobile-bg {
    display: none;
}

/* text styles */
.text-container {
    flex: 1 1 20rem;
    padding: 2rem 2rem 2rem 0rem;
    /* background-color: white; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* border: 1px solid red; */
}

.text-container h1 {
    text-align: left;
    margin: 1rem 0;
    font-size:2rem;
}

.faq-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.faq {
    flex:1;
}

.faq-answer {
    padding-bottom:1rem;
    display: none;
}
p {
    font-size: 1.3rem;
}

/* mobile styles */
@media only screen and (max-width: 375px) {
    main {
        width: 90%;
        background-color:transparent ;
        display:flex;
        flex-direction: column;
        justify-content: center;
        /* border:1px solid red; */
    }

    .box {
        display:none;
    }

    .woman-online-desktop {
        display:none;
    }

    .image-container {
        overflow: visible;
        position:relative;
        z-index:3;
        top:7.6rem;
        /* left:3rem; */
    }

    .woman-online-mobile {
        display:block;
        /* border:1px solid rgb(38, 255, 0); */
        position:relative;
        /* top:7.6rem; */
        left:3rem;
        z-index:2;
        width:80%;
        height: auto;
    }

    .mobile-bg {
        display: block;
        position:relative;
        width:70% ;
        height:auto;
        /* border:1px solid yellow; */
        z-index: 1;
        top:-65px;
        left: 40px;
    }

    .text-container {
        /* border:1px solid green; */
        padding:1rem;
        background-color:white;
        border-radius:2rem;
        position: relative;
        top:-77px;
    }
    
    .text-container h1 {
        text-align: center;
        margin-top:7rem;
        /* margin-bottom: 3rem; */
    }
}